:root {
    --color-blue-light: #628dbd;
}

body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: none;
    font-smooth: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    background-color: #AEAEB2;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('$lib/assets/background.png');
    background-size: auto, auto;
    background-repeat: repeat, repeat;
}

.orange-outline:hover {
    outline: solid 1px #f6b626;
}

.gray-panel {
    background-color: #4b5665;
    border: 1px solid #788496;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #001818;
}

.bazar-select {
    background: linear-gradient(
        #373737 1px,
        #1b1b1b 1px,
        #1b1b1b calc(100% - 1px),
        #030303 calc(100% - 1px),
        #030303 100%
    );
    color: #b1f204;
    text-shadow: 2px 2px 0 black;
    border: 1px solid #1b1b1b;
    border-radius: 4px;
    padding: 3px;
}

.bazar-select:focus {
    outline: none;
}

.bazar-select option {
    background-color: #1b1b1b;
    color: #b1f204;
}

.bazar-select option:hover {
    background-color: green;
}