body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 10pt;
    -webkit-font-smoothing: none;
    font-smooth: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
}

.orange-outline:hover {
    outline: solid 1px #f6b626;
}